body {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* .mapboxgl-ctrl button.mapboxgl-ctrl-fullscreen .mapboxgl-ctrl-icon{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' viewBox='0 0 29 29' xmlns='http://www.w3.org/2000/svg' fill='white'%3E%3Cpath d='M24 16v5.5c0 1.75-.75 2.5-2.5 2.5H16v-1l3-1.5-4-5.5 1-1 5.5 4 1.5-3h1zM6 16l1.5 3 5.5-4 1 1-4 5.5 3 1.5v1H7.5C5.75 24 5 23.25 5 21.5V16h1zm7-11v1l-3 1.5 4 5.5-1 1-5.5-4L6 13H5V7.5C5 5.75 5.75 5 7.5 5H13zm11 2.5c0-1.75-.75-2.5-2.5-2.5H16v1l3 1.5-4 5.5 1 1 5.5-4 1.5 3h1V7.5z'/%3E%3C/svg%3E") !important;
} */

.mapboxgl-ctrl button .mapboxgl-ctrl-icon{
	/* background-color: black !important; */
	opacity: .8 !important;;
}

@media only screen and (max-width: 500px) {

    .mobile_station_scroll{
        overflow-y: scroll;
        max-height:200px;
        font-size: 10px;
    }

}


/* clicked search button css */


.mapboxgl-ctrl-geocoder-search-box.mapboxgl-ctrl-geocoder.mapboxgl-ctrl{
	min-width:240px ;
	height:36px ;
	width:33.3333% ;
}

.mapboxgl-ctrl-geocoder-search-box > .mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search{
	top: 8px;
    left: 7px;
    width: 20px;
    height: 20px;
	margin: 0;
}

/* search button css */

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl{
	min-width:29px;
	height:29px;
	width:29px;
}


.mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search{
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 27px;
	height: 27px;
	margin: 1px;
}

/* search box mapboxgl-ctrl-geocoder--powered-by disable */
.mapboxgl-ctrl-geocoder--powered-by{
    display: none !important;
}

/* show current time box */
#current-time {
	color: white;
	font-family: monospace;
	font-size: 1.2em;
	font-weight: 200;
}
#current-date {
	color: white;
	font-family: monospace;
	font-size: .8em;
}
#current-time-box{
	background-color: black;
	opacity: .6;
	border-radius: 1em;
	display: flex;
	position: fixed;
	z-index: 5;
	margin: 10px;
	padding:15px;
	flex-wrap: wrap;
	max-width: 135px;
	justify-content: center;
}


/* map panel css */
#map_panel{
	position: fixed;
	right: 0;
	margin: 10px;
	margin-top: 90px;
}

.panel_button{
	width: 29px;
	height: 29px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 10px;
}